<div class="cart-container">

  <div class="cart-item-details" *ngIf="cartItems.length">
    <div class="cart-item">
      <button (click)="clearCart()" class="product-detail btn btn-primary mx-2">
        Clear all cart
      </button>
    </div>
    <div *ngFor="let item of cartItems" class="cart-item">
      <img class="" src='{{item.image}}'>
      <div class="cart-panel">
        <div class="product-item-detail">
          {{ item.name}}
        </div>
        <div class="product-item-detail">$
          {{ item.price}}
        </div>
        <div class="product-item-detail">
          <button (click)="removeOneItem(item.id)" [disabled]="item.quantity <= 1" class="product-detail btn btn-primary mx-2">-</button> <span class="product-detail">{{item.quantity}} </span><button (click)=" addToCart(item.id)" [disabled]="item.quantity >= 100" class="product-detail btn btn-primary mx-2">+</button> <button (click)="removeItem(item.id)" class="product-detail btn btn-primary mx-2">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </div>

      </div>
    </div>
    <!-- <div class="cart-item"><b>Total Amount: $
        {{ cartTotalPrice }}</b></div> -->
  </div>


  <div class="form-margin" id="top">
    <form class="form-margin" #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="cartItems.length">
      <h1> Checkout </h1>
      <div class="cart-item"><b>Total Amount: $
          {{ cartTotalPrice }}</b></div>
      <label>Full Name: </label><br />
      <input type='text' name='fullName' required minlength="6" placeholder="Enter First Name" [(ngModel)]="fullName" #fullname="ngModel" (ngModelChange)="validateFullName()"><br />
      <small *ngIf="nameCheck" class="text-danger">{{nameCheck}}</small>
      <br />
      <label>Address: </label><br />
      <input type='text' name='address' required minlength="10" placeholder="Enter Address" [(ngModel)]="address" (ngModelChange)="validateAddress()"><br />
      <small *ngIf="addressCheck" class="text-danger">{{addressCheck}}</small><br />
      <label>City: </label><br />
      <input type='text' name='city' required minlength="3" placeholder="Enter City" [(ngModel)]="city" (ngModelChange)="validateCity()"><br />
      <small *ngIf="cityCheck" class="text-danger">{{cityCheck}}</small><br />
      <label>Credit Card Number: </label><br />
      <input type='text' name='creditCardNumber' required minlength="16" maxlength="16" placeholder="(16-digit number)" [(ngModel)]="creditCardNumber" (ngModelChange)="validateCreditCardNumber()"><br />
      <small *ngIf="creditCardCheckNumber" class="text-danger">{{creditCardCheckNumber}}</small><br />
      <small *ngIf="creditCardCheckLength" class="text-danger">{{creditCardCheckLength}}</small><br />
      <input [disabled]="form.invalid" type='submit' value="Submit" class="btn btn-primary my-2" />
    </form>

  </div>
</div>
<div #noCart *ngIf="!cartItems.length">
  <div class="empty-cart-message">
    Cart is Empty! Please add items to cart.
  </div>

  <div class="empty-cart-message">

    <div class="product-item-detail my-5">
      <a routerLink="/" class="product-detail btn btn-primary">
        Back to products
      </a>
    </div>

  </div>


</div>
