<div *ngIf="product">
  {{product.name}}
  <img [src]="product.image" alt="product image" />
  <span>{{product.price}}</span>
  {{product.description}}

  <button (click)="addToCart(product.id)" *ngIf="!product.quantity">Add to cart</button>
  <div *ngIf="product.quantity">
    <p>Added to cart</p>
    <button (click)="removeOneItem(product.id)">-</button> {{product.quantity}} <button (click)="addToCart(product.id)">+</button>
    <br />
    <br />
    <button (click)="removeItem(product.id)">Remove Item from cart</button>
  </div>
</div>
