<a [routerLink]="['/product', product.id]">
  {{product.name}}

  <!-- <img [src]="product.image" alt="product image" /> -->

  <span>{{product.price}}</span>

</a>
<div *ngIf="!product.quantity">
  <p></p>
  <button (click)="onAddToCart()">Add to cart</button>
</div>
<div *ngIf="product.quantity">
  <p></p>
  <button (click)="onRemoveOneItem()">-</button> {{product.quantity}} <button (click)="onAddToCart()">+</button> <button (click)="onRemoveItem()">D</button>
  <p>Added to cart</p>
</div>
<br />
<br />
